<html>
<head>
<title>TVGUIDE</title>
</head>
<body bgcolor="#000000" text="#FFFFFF">
<BGSOUND SRC="audio/tvguide.mid">
<table border="0">
<tr>
<td valign="top" colspan="2"><div align="left"><table
border="0" cellpadding="0" cellspacing="0">
<tr absheight=81>
<td abswidth=104 align=center valign=center>
<MAP NAME="logo">
<AREA SHAPE="RECT" COORDS="2, 10, 72, 72"
href="http://www.tvgen.com/tv">
</MAP>
<img src="wtv-home:/ROMCache/TVGuide.gif" width="75" height="81"
usemap="#logo">
</a>
</td>
<td abswidth=5>
<spacer>
<td align="right" valign=center align=center>
<a href="http://www.happypuppy.com/">
<img src="images/banner.gif" width="468" height="60">
</a>
</td>
</tr>
</table>
</div></td>
</tr>
<tr>
<td colspan=2 absheight=2><spacer>
<tr>
<td>
<MAP NAME="FrontPageMap0">
<AREA SHAPE="RECT" COORDS="0, 5, 251, 22"
HREF="wtv-content:/redirect?req-id=tvguide">
<AREA SHAPE="RECT" COORDS="0, 46, 251, 63" HREF="wtv-explore:/explore?goto_Entertainment:TV">
<AREA SHAPE="RECT" COORDS="0, 87, 251, 104"
HREF="http://www.tvgen.com/tv/cgi-bin/webtvhot.pl">
<AREA SHAPE="RECT" COORDS="0, 128, 251, 145" HREF="http://www.tvgen.com/tv/circuits/">
<AREA SHAPE="RECT" COORDS="0, 169, 251, 186" HREF="http://www.tvgen.com/tv/area52/">
<AREA SHAPE="RECT" COORDS="0, 210, 251, 227" HREF="http://tvgen.com/tv/soapdish/">
<AREA SHAPE="RECT" COORDS="0, 251, 251, 268" HREF="http://tvgen.com/tv/tvtunnel/">
</MAP>
<img src="images/menu.gif" border="0" width="252" height="270" usemap="#FrontPageMap0">
</td>
<td>
<MAP NAME="FrontPageMap1">
<AREA SHAPE=RECT COORDS="0, 0, 285, 102" HREF="http://www.tvgen.com/tv/area52/">
<AREA SHAPE=RECT COORDS="28, 125, 275, 250" HREF="http://www.tvgen.com/tv/soapdish/">
</MAP>
<img src="images/tvguide_info.jpg" border="0" width="279" height="251"
usemap="#FrontPageMap1">
</td>
</tr>
</table>
</body>
</html>
