<html>
<head>
<meta http-equiv=refresh content="0;url=client:Fetch?source=wtv-disk:/sync%3fgroup=BARNYARD&root=file://disk/EricsBarn/&message=Now+Starting..."
>
<display downloadsuccess="client:showalert?message=Download+Has+Seucess" downloadfail="client:showalert?message=Download+Has+Faild">
<title>Retrieving File List</title>
</head>
<body bgcolor=#0 text=#42CC55 fontsize=large hspace=0 vspace=0>
<table cellspacing=0 cellpadding=0>
<tr>
<td width=104 height=74 valign=middle align=center bgcolor=3B3A4D>
<img src="file://ROM/Cache/WebTVLogoJewel.gif" width=86 height=64>
<td width=20 valign=top align=left bgcolor=3B3A4D>
<spacer>
<td colspan=2 width=436 valign=middle align=left bgcolor=3B3A4D>
<font color=D6DFD0 size=+2><blackface><shadow>
<spacer type=block width=1 height=4>
<br>
Retrieving File List
</shadow>
</blackface>
</font>
<tr>
<td width=104 height=20>
<td width=20>
<td width=416>
<td width=20>
<tr>
<td colspan=2>
<td>
<font size=+1>
Your Internet terminal is sending the file list for the file://disk$filerootx direcctory.
<p>This usually takes a while.
</font>
<tr>
<td colspan=2>
<td>
<br><br>
<font color=white>
<progressindicator name="downloadprogress" message="Retrieving File List..." height=40 width=250>
</font>
</table>
</body>
</html>
